.fab:hover
{
    color: aqua;
    background-color: rgb(160, 25, 25);
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.imagen
{
    cursor: pointer;
    border: 2px solid black;
    height: 200px;
    width: 200px;
}

.texto
{
    color: rgb(255, 249, 249);
    list-style: none;
}

.texto:hover
{
    color: rgb(255, 0, 0);
    list-style: none;
}

.borde
{
    border-top: red 2px solid;
}