.imagen {
  cursor: pointer;
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

.imagen:hover {
  cursor: pointer;
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

.texto {
  color: rgb(255, 249, 249);
  list-style: none;
}

.texto:hover {
  color: rgb(255, 0, 0);
  list-style: none;
}

.borde {
  border-top: red 2px solid;
}

.info{
  text-align: justify;
}