*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 7px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb{
    background-color: #cb1010;
    border-radius: 5px;
}

